<div class="hero-unit">
  <h1>Testing The Jscrollpane with AngularJS</h1>
  <div class="well scroll-pane">
    <p>some content some content some content some content some content some content
      some content some content some content some content some content some content
      some content some content some content some content some content some content</p>
    <p>some content some content some content some content some content some content
      some content some content some content some content some content some content
      some content some content some content some content some content some content</p>
    <p>some content some content some content some content some content some content
      some content some content some content some content some content some content</p>
  </div>
</div>
